{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <h1>Posts</h1>
    <a href="{{ path('app_post_new') }}" class="btn btn-sm btn-primary">Create post</a>
    <div class="posts">
        {% if posts %}
            <ul>
                {% for post in posts %}
                    <li class="d-flex justify-content-between">
                        <span>{{ post.title }} - [{{ post.categoryPost }}] (Comments: {{ post.comments|length }})</span>
                        <div>
                            <a href="{{ path('app_post_show', {'id': post.id}) }}" class="btn btn-sm btn-success">details</a>
                            <a href="{{ path('app_post_edit', {'id': post.id}) }}" class="btn btn-sm btn-primary">edit</a>
                            <a href="{{ path('app_post_delete', {'id': post.id}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?');">delete</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>Lista jest pusta!</h3>
        {% endif %}
    </div>
{% endblock %}